@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    background-color: v.$blanco;
    box-shadow: 1px 12px 9px -13px rgba(0 0 0 / .4) ;

    & > * {
        margin: .5rem 1rem;
    }

    span {
        color: v.$indigo;
        text-transform: capitalize;
    }

    .cerrar-sesion {
        @include m.boton( darken(v.$indigo, 15%), v.$blanco );
        font-size: 1.4rem;
        padding: 1rem;
        border-radius: .5rem;
    }
}